.dropdown-button {
  align-items: center;
  justify-content: flex-start;
  color: white;
  display: flex;
  position: relative;
  text-decoration: none;
}

.dropdown-button svg {
  margin-right: 0.2em;
}

.dropdown-button .dropdown-list {
  position: absolute;
  list-style-type: none;
  margin: 0;
  left: 0;
  background-color: white;
  top: 100%;
  padding: 0.5em;
  border-radius: 10px;
  display: none;
}

.dropdown-button .dropdown-list.show {
  display: block;
}


.dropdown-button .dropdown-list li {
  display: flex;
}

.dropdown-button .dropdown-list li a {
  color: #072243 !important;
  padding: 0.3em 0.8em;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}

.dropdown-button .dropdown-list li a:hover {
  background-color: #739ce7;
}